/****************************************************************************************************
Autor: David Carvalho
Fecha: 26/12/2025
Proyecto: Conversor de Monedas
Descripción: Proyecto de estudio desarrollado durante el proceso de desarrollo full stack en DevClub.
Monedas utilizadas: BRL, USD, EUR, GBP, BTC
*****************************************************************************************************/

/* Reset CSS Padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: url("./assets/fundobackgroud1.jpg") center center / cover no-repeat fixed;
}

main {
  width: 375px;
  background-color: #F4F4F4;
  border-radius: 15px;
  margin: 80px auto 10px;
  padding: 44px 24px 23px;
}

label {
  color: #777777;
  font-weight: 400;
  font-size: 16px;
  appearance: none;
}

select, input {
  background-color: #FFFFFF;
  border: 1px solid #BBBBBB;
  border-radius: 8px;
  height: 48px;
  width: 100%;
  margin-bottom: 24px;
  appearance: none;
  padding-left: 18px;
  font-weight: 700;
  font-size: 16px;
  color: #555555;
  cursor: pointer;
}

button {
  background-color: #00AE79;
  border-radius: 20px;
  width: 100%;
  border: none;
  height: 48px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.6;
}

section {
  border: 1px solid #00AE79;
  border-radius: 20px;
  margin-top: 36px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currency-img-from {
  width: 60px;
}

.imgSeta {
  margin: 20px 0;
  width: 44px;
}

.currency-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.currency {
  color: #777777;
  font-size: 14px;
}

.currency-value,
.currency-value-to-convert {
  color: #555555;
  font-weight: 700;
  font-size: 20px;
}

.currency-img {
  width: 60px;
}

/* Remove setas do input number (Chrome, Edge, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove setas do input number (Firefox) */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Ticker rotativo */
.ticker {
  width: 100%;
  background-color: #373643;
  overflow: hidden;
  border-bottom: 7px solid #18CA95;
  border-top: 7px solid #18CA95;
}

.ticker-track {
  display: flex;
  width: max-content;
  animation: ticker-loop 25s linear infinite;
}

.ticker-content {
  white-space: nowrap;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 500;
  color: #E1E1E2;
}

.ticker-content span.up { /* Mercado Em Alta  */
  color: #00C853;       /* Verde */
  font-weight: 600;
}

.ticker-content span.down {  /* Mercado Em Baixa */
  color: #D50000;          /* Vermelho */
  font-weight: 600;
}

.ticker-content span.stable { /* Mercado Neutro */
  color: #FBC02D;           /* Branco neutro */
  font-weight: 600;
}

/* Movimento contínuo da direita para a esquerda */
@keyframes ticker-loop {  
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Rodape */ 
.footer {
  margin-top: auto;
  padding: 16px 0;
  text-align: center;
  font-size: 14px;
  color: #848484;
}

.contact {
  text-align: center;
  font-size: 12px;
  color: #848484;
}